apiVersion: v1
kind: ConfigMap
metadata:
  name: event-exporter-cfg
  namespace: {{ .Release.Namespace }}
data:
  config.yaml: |
    logLevel: warn
    logFormat: json
    clusterName: {{ .Values.clusterName }}-{{ .Values.clusterEnv }}
    metricsNamePrefix: event_exporter_
    route:
      routes:
        - match:
            - receiver: "dump"
    receivers:
      - name: "dump"
{{ toYaml .Values.stdout | indent 8 }}

