# Default values for 1.7.0.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
# https://github.com/resmoio/kubernetes-event-exporter/tree/master

clusterName: demo1
clusterEnv: dev

stdout:
  elasticsearch:
    hosts:
      - http://elasticsearch.kok.svc:9200
    index: devops-kube-event
    # Ca be used optionally for time based indices, accepts Go time formatting directives
    indexFormat: "devops-kube-event-{2006.01.02}"